rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /dev/clips/{allPaths=**} {
      allow read, write;
    }
  	match /clips/{allPaths=**} {
    	allow read, write;
    }
    match /{allPaths=**} {
      allow read, write: if request.auth!=null;
    }
  }
}
